
.badges-list-container{
    background-color: #ffffff;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 3px 2px rgba(0,0,0,0.25);
}

.twitterLogo{
    width: 22px;
    height: auto;
}

.twitterID{
    color: #00aced;
    font-size: 14px;
}

.name{
    font-weight: bold;
}

.jobTitle{
    font-size: 14px;
}

.profile-info{
    
}