
.badges-list-container{
    background-color: #ffffff;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 4px 4px 3px 1px rgba(0,0,0,0.15);
}

.twitterLogo{
    width: 22px;
    height: auto;
}

.twitterID{
    color: #00aced;
    font-size: 14px;
}

.avatar{
    border-radius: 50px;
}

.name{
    font-weight: bold;
}

.jobTitle{
    font-size: 14px;
}

.profile-info{
    
}